@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url(https://cdn.pixabay.com/photo/2017/12/01/00/01/dance-2989824_960_720.jpg);
    color: blue;
    background-repeat: no-repeat; 
    background-size: cover;
}
h1{
    text-align: center;
    color:antiquewhite;
}

